@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <script src="js/owl.carousel.js"></script>

    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
</section>


<section class="grids-5">
    <div id="grids5-block" class="py-5">
        <div class="row mt-5">
            <div class="grids4-info  col-md-6">
                <div class="info-bg">
                    <h5>Pronadjite jedinstveno krstarenje</h5>
                    <p>
                    Ako trazite jedinstven i neponovljiv odmor za Vas i Vase najmilije ovo je pravo mesto za Vas. Najbolji izbor kruzera i jahti
                    za odmor iz snova i to sve u dva klika.
                    </p>
                </div>
            </div>
            <div class="grids4-info  col-md-6 mt-md-0 mt-5">

                <div class="info-bg">
                    <h5>Organizujte krstarenje iz snova</h5>
                    <p>
                        Posedujete kruzer a niste do sada imali gde da se izreklamirate?
                    </p>
                    <p>
                        Sada je to lako! Registrujte Vas nalog i lako i jednostavno oglasite ponude za Vasa krstarenja na najpopularnijem sajtu.
                    </p>

                </div>
            </div>
        </div>
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Najbolja ponuda kruzera</h3>
            </div>
            <div class="row mt-5 pt-3">



                @foreach (var k in Model.krstarenjaZaPrikaz)
                {
                    <div class="grids4-info col-md-6" style="width: 100px;">
                        <a href="Katalog"><img src="@k.Slike[0]" class="img-responsive" style="width:450px; height:300px" alt=""></a>
                        <div class="info-bg">
                            <h5>
                                <a href="Katalog">
                                    @k.Destinacija
                                </a>
                            </h5>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>