<!---/demosWTR/Freedom/12-02-2020/haven-freedom-demo_Free/1505901166/web/index.htmlselect product_id,template_id,template_title,template_name,featured_image,featured_image_server_id,
full_image_server_id,full_image from template_down_details where starter_demo_url='/demosWTR/Freedom/12-02-2020/haven-freedom-demo_Free/1505901166/web/index.html' lat part:--->
<!doctype html>
<html lang="en">

<!-- Mirrored from p.w3layouts.com/demosWTR/Freedom/12-02-2020/haven-freedom-demo_Free/1505901166/web/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 20:59:26 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="css/style-freedom.css">
</head>
<body>
    <script src='js/jquery.min.js'></script>
    <script src="js/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
    <div id="codefund"><!-- fallback content --></div>
    <script src="https://ethicalads.io/?ref=codefund" async="async"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149859901-1');
    </script>

    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        ga('send', 'pageview');
    </script>
    <script async src='js/autotrack.js'></script>

    <meta name="robots" content="noindex">

    <!-- Demo bar start -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- New toolbar-->

    <section class="w3l-bootstrap-header">
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-2 py-2">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">SEVENSEAS</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Index"><span class="fa fa-home" aria-hidden="true"></span> Pocetna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Katalog"><span class="fa fa-ship" aria-hidden="true"></span> Katalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/ONama"><span class="fa fa-group" aria-hidden="true"></span> O Nama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="scrollDown()"><span class="fa fa-phone" aria-hidden="true"></span> Kontakt</a>
                        </li>
                        @if (Model.Message != null)
                        {
                            if (Model.Message == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Admin"><span class="fa fa-user" aria-hidden="true"></span> Admin</a>
                                </li>
                            }
                            if (Model.Message == "Menadzer")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Profil"> <span class="fa fa-user" aria-hidden="true"></span> Profil</a>
                                </li>
                            }
                        }
                    </ul>
                    <!--<form class="form-inline">-->
                    @if (Model.Message == null)
                    {
                        <a class="btn btn-primary btn-theme" asp-page="/Prijava"><span class="fa fa-sign-in" aria-hidden="true"></span> Prijavi se</a>
                        <a class="btn btn-primary btn-theme" asp-page="/Registracija"><span class="fa fa-plus-square" aria-hidden="true"></span> Registruj se</a>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-theme" asp-page="/Index" asp-page-handler="Logout"><span class="fa fa-sign-out" aria-hidden="true"></span> Odjavi se</a>
                    }
                    <!--</form> -->
                </div>
            </div>
        </nav>
    </section>



    @RenderBody()


    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="container">
                <div class="d-grid footer-top-29">
                    <div class="footer-list-29 footer-4">
                        <h6 class="footer-title-29">Kontakt:</h6>
                        <ul>
                            <li><p><span class="fa fa-map-marker"></span> Aleksandra Medvedeva 14, Nis, Serbia</p></li>
                            <li><a href="tel:+381 65 123 456"><span class="fa fa-phone"></span> +381 65 123 456</a></li>
                            <li><a href="mailto:SEVENSEAS@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span> SEVENSEAS@gmail.com</a></li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function scrollDown() {
            document.body.scrollTop = document.body.scrollHeight;
            document.documentElement.scrollTop = document.documentElement.scrollHeight;
        }
    </script>
        <!-- /move top -->
    </section>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- //footer-28 block -->
    </section>
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="js/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Template JavaScript -->
    <script src="js/all.js"></script>
    <!-- Smooth scrolling -->
    <!-- <script src="assets/js/smoothscroll.js"></script> -->
    <script src="js/owl.carousel.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- script for -->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
